*{
    margin: 0;
    padding: 0;
}

:root{
    --navbar_height: 10%;
}

body{
    background: black;
}

/* Navigation Bar */
#navbar{
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 10;
}

/* Navigation Bar : Logo Image */
#logo{
    margin: 10px 30px;
    height: 4.5em;
    width: 4.5em;
}

#logo img{
    border-radius: 5em;
    margin: 0px 0px;
    height: 4.5em;
    width: 4.5em;
}

/* Navigation Bar : List */
#navbar ul{
    margin-left: 2em;
    display: flex;
}

#navbar::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(131, 131, 131);
    opacity: 0.6;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar ul li{
    list-style: none;
    font-size: 1.1rem;
}

#navbar ul li a{
    border-radius: 0.3em;
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
    transition: all 1s ease-in-out 0s;
}

#navbar ul li input{
    height: 1.7em;
    align-self: right;
    margin-top: 2em;
    margin-left: 20em;
}

#navbar ul li button{
    width: 5em;
    height: 2em;
    padding: 0;
}

#navbar ul li a:hover, #navbar ul .now{
    border-radius: 0.3em;
    color: rgb(245, 245, 139);
    background-color: rgba(255, 255, 255, 0.1);
}

/* Slider */
.slider{
    display: grid;
    grid-gap: 1.3em;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 3em;
}

.slider img{
    filter: invert(20%);
    height: 22em;
    width: 22em;
    border-radius: 1em;
    /* box-shadow: 8px 8px 20px darkgrey; */
    opacity: 0.8;
}

.slider h1, .slider h2{
    color: white;
    text-align: center;
    padding-right: 1em;
}

.slides:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.02);
}

/* Footer */
footer{
    background-color: black;
    padding: 0.5em 5em;
    color: white;
    font-size: 1em;
}

/* Utility Classes */
.h_primary{
    color: whitesmoke;
    font-size: 3rem;
    padding: 0.5em;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h_secondary{
    font-size: 2rem;
    padding: 0.7em;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn{
    padding: 0.2em 0.5em;
}

.center{
    align-items: center;
    text-align: center;
}